<div class="container">

	<div class="row"> 
	<h4 id="hours_logger_signup">Hours Logger</h4>
	</div>
	
	<div class="row">
		<p id="signup_text">Hi, to track your time, I need to know who you are.<br>  
		   All I need is a Username and Password.</p>
	</div>
	
	<% if notice %>
	<p id="notice"><%= notice %></p>
	<% end %>

		<%= render "form" %>

	
</div>
