

<div class="container">
		<h1 id="name">Hours Logger</h1>
		<p  id="time">Time Working: <span id="current_time">00:00:00</span></p>

		<%= render  "confirm" %>
		<p id="notice"><%= notice %></p>
		<button class="button" id="working">Start Working</button>
		<button data-toggle="modal" data-target="#myModal" class="button" id="not_working">Stop Working</button>
		<%= button_to  "My Stats", stats_path, :class => "button", :id => "stats"%>

</div>