<h1 id="name">Your Name</h1>

<p id="time">Time</p>

 <div class="row container">
<div class="col-sm-6">test</div> 
</div>
<%= button_to  "I'm Working", "/", :class => "button", :id => "working" %>

<%= button_to  "Not Working", "/", :class => "button", :id => "not_working" %>

<%= button_to  "My Stats", "/", :class => "button", :id => "stats"%>