<div class="container">
		<h1 id="name">Hours Logger</h1>
		<p  id="time">Time Working: <span id="current_time">00:00:00</span></p>

		<button class="button" id="working">I'm Working</button>
		<%= button_to  "Not Working", "/", :class => "button", :id => "not_working" %>
		<%= button_to  "My Stats", "/", :class => "button", :id => "stats"%>

</div>